.nav {
  grid-area: n;
  background-color: burlywood;
  padding: 20px;
}

.item a {
  color: #fff;
  text-decoration: none;
}

.item a.active {
  color: gold;
}

.navbarFriends {
  margin-top: 20px;
}

.navbarFriendLinks {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}